.modal__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 450px;
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.close__modal {
  width: 80%;
  padding: 1rem;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}
