.question__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.form__header {
  border: 10px solid black;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
}

.form__label,
.form__button,
.form__text-input {
  width: 90%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.form__fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  height: 750px;
  width: 500px;
}

.hidden {
  display: none;
}

.answer__text {
  border: 2px solid #03a7e8;
  width: 90%;
  margin: 10px 0;
  padding: 1rem;
  border-radius: 20px;
}

.form__button {
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

.form__text-input {
  &:focus {
    outline: none;
  }
}
